body {
font-family: "Roboto", "Raleway" sans-serif;
color: #434455;
font-size: 16px;
font-weight: 400;
background: #FFF;
}



.logo 
{
color: #4D5AE5;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo-right {
color: #2E2F42;
}
.logo-right: hover {
color: #2E2F42;
} 



/* Body Medium */


.site-nav
{
color: #2E2F42;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    flex-shrink: 0;
    text-align: left;
}
.social-links
{
   color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    flex-shrink: 0;
    border-bottom: 1px;
    background: #fff;
}

.title-hero
{
color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07
    letter-spacing: 1.12px;
    width: 1440px;
    height: 600px;
    flex-shrink: 0;
    background: #2E2F42; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
 .order-button
 {
     color: #FFF;
     font-family: Roboto;
     font-size: 16px;
    font-style: normal;
    font-weight: 500;
     line-height: 1.5;
     letter-spacing: 0.64px;
    background: #4D5AE5;
    justify-content: center;
 }









